.card {
    width: 317px;
    background: linear-gradient(black 250px, rgb(41, 0, 41));
    margin: 1em;
    /* padding: 1em; */
    border-radius: 1em;
}



img {
    width: 100%;
    height: 317px;
    object-fit: cover;
    object-position: top;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    clip-path: circle(50%);
}