header {
    padding: 1em;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 1.5625rem;
}

h2 {
    margin: 0;
    margin-top: -0.7em;
    font-size: 0.8rem;
}

a:focus {
    outline: 3px solid rgb(96, 0, 96);
}

header > a {
    font-size: 0.64rem;
    text-decoration: none;
    color: #fff;
    transition: all 200ms ease-in-out;
}

header > a:hover {
    transform: scale(1.1);
    color: aquamarine;
}

.social-links {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1em;
}

.social-links a {
    /* display: inline-block; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    text-decoration: none;
    font-size: 0.875rem;
    font-weight: 700;
    padding: 0.5em;
    background: #5093E2;
    color: #fff;
    width: 115px;
    border-radius: .4em;
    transition: 300ms ease-in-out;
}

.social-links a:last-child:hover {
    background: #212121;
    color: #5093E2;
}

.social-links a:first-child {
    background: wheat;
    color: #212121;
}

.social-links a:first-child:hover {
    background: #212121;
    color: wheat;
}